.old-price {
  position: relative;
  width: fit-content;
}

.old-price::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 42%;
  left: -1px;
  transform: rotate(-3deg);
  background-color: var(--dark-grey);
}
